@use "../../../master.scss";

.auth {
    background: #363941 !important;

    input {
        background: #363941 !important;

        &::placeholder {
            color: #ffffff !important;
            opacity: 0.3 !important;
        }
    }
}
.disabled {
    opacity: 0.6;
}

.ant-input-affix-wrapper-disabled {
    .ant-input[disabled] {
        background: master.$theme3-color;
        color: #ffffff;

        &::placeholder {
            color: #ffffff;
        }
    }
    &:hover {
        border-color: master.$theme-color;
    }
}

.ant-input-affix-wrapper {
    background: master.$theme3-color;
    height: 40px;
    border-color: master.$dark-color;

    input {
        background: master.$theme3-color;
        color: #ffffff;
        font-size: 12px;

        &::placeholder {
            color: #ffffff;
        }
    }
    .ant-input-suffix {
        .svg-inline--fa {
            path {
                color: master.$white-color;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .ant-input-affix-wrapper {
        height: 35px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ant-input-affix-wrapper {
        font-size: 12px;

        height: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .ant-input-affix-wrapper {
        font-size: 14px;

        height: 45px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: #ffffff;
}
