@use "../../../../master.scss";

.stock-parent {
    .filter-select {
        display: none;
        .ant-select-selector {
            background-color: master.$dark-color !important;
            border: none !important;
            color: #ffffff !important;
        }
        .ant-select-arrow {
            color: #ffffff !important;
        }
    }

    .filter-box {
        background-color: master.$dark-color;
        width: 40px;
        height: 21px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        cursor: pointer;
    }
    .filter-active {
        background-color: #2c2e3a;
    }

    @media (max-width: 1000px) {
        .filter-select {
            display: block;
        }
        .filter-box {
            display: none;
        }
    }

    .stock-content {
        background: master.$dark-color;
        border-radius: 12px;
        padding: 15px;
        margin-top: 20px;

        .child {
            display: flex;
            justify-content: center;
            .box {
                background: #262635;
                border-radius: 10px;
                width: 100%;
                cursor: pointer;
            }
        }

        .empty-stock {
            gap: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button {
                width: 225px;
                max-width: 300px;
            }
        }
    }
}

.ant-select-dropdown {
    background: master.$theme3-color !important;
    .rc-virtual-list-holder-inner {
        gap: 5px;
    }
    .ant-select-item {
        color: #ffffff !important;
    }
    .ant-select-item-option-active {
        background-color: master.$theme2-color !important;
    }
    .ant-select-item-option-selected {
        background-color: master.$theme2-color !important;
    }
}
