@use "../../../../master.scss";

.stock-parent {
    .stock-content {
        background: master.$dark-color;
        border-radius: 12px;
        padding: 15px;
        margin-top: 20px;

        .child {
            display: flex;
            justify-content: center;
            .box {
                background: #262635;
                border-radius: 10px;
                width: 100%;
                cursor: pointer;
            }
        }

        .empty-stock {
            gap: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button {
                width: 225px;
                max-width: 300px;
            }
        }
    }
}
