@use "../../../../master.scss";

.child {
    display: flex;
    justify-content: center;
    .box {
        background: #262635;
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
    }
}

.empty-stock {
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button {
        width: 225px;
        max-width: 300px;
    }
}
