.main-meter {
    // width: 100%;
    // height: 200px;
    position: relative;

    > :first-child {
        display: flex;
        justify-content: center;
    }

    .highcharts-root {
        width: 100%;
    }

    .meter-img {
        position: absolute;
        left: 50%;
        top: 78%;
        transform: translate(-50%, -50%);
    }

    .meter-title {
        display: flex;
        justify-content: center;
        gap: 5px;
        .title-text {
            text-overflow: ellipsis;
            white-space: nowrap !important;
            overflow: hidden;
            width: 100%;
            max-width: 130px;
            min-width: 60px;
        }
    }

    .label {
        fill: #ffffff !important;
        font-size: 8px !important;
        font-weight: 700;
        opacity: 0.7;
    }

    .active {
        opacity: 1;
    }

    .strong-sell {
        transform: translate(-94px, 136px) rotate(-76deg);
    }
    .sell {
        transform: translate(13px, 44px) rotate(-48deg);
    }
    .sell-neutral {
        transform: translate(97px, 25px) rotate(-16deg);
    }
    .buy-neutral {
        transform: translate(-15px, -45px) rotate(16deg);
    }
    .buy {
        transform: translate(119px, -237px) rotate(45deg);
    }
    .strong-buy {
        transform: translate(265px, -168px) rotate(74deg);
    }
    .highcharts-no-tooltip {
        display: none;
    }
}
