.main-meter {
    // width: 200px;
    // height: 200px;

    :first-child {
        display: flex;
        justify-content: center;
    }

    .label {
        fill: #ffffff !important;
        font-size: 8px !important;
        font-weight: 700;
    }

    .strong-sell {
        transform: translate(-75px, 95px) rotate(-70deg);
    }
    .sell {
        transform: translate(21px, 35px) rotate(-41deg);
    }
    .neutral {
        transform: translate(-25px, 18px);
    }
    .buy {
        transform: translate(63px, -181px) rotate(40deg);
    }
    .strong-buy {
        transform: translate(184px, -125px) rotate(72deg);
    }
    .highcharts-no-tooltip {
        display: none;
    }
}
