.main-meter {
    // width: 100%;
    // height: 200px;

    .highcharts-root {
        width: 100%;
    }

    :first-child {
        display: flex;
        justify-content: center;
    }

    .label {
        fill: #ffffff !important;
        font-size: 8px !important;
        font-weight: 700;
        opacity: 0.7;
    }

    .active {
        opacity: 1;
    }

    .strong-sell {
        transform: translate(-94px, 136px) rotate(-76deg);
    }
    .sell {
        transform: translate(13px, 44px) rotate(-48deg);
    }
    .sell-neutral {
        transform: translate(97px, 25px) rotate(-16deg);
    }
    .buy-neutral {
        transform: translate(-15px, -45px) rotate(16deg);
    }
    .buy {
        transform: translate(119px, -237px) rotate(45deg);
    }
    .strong-buy {
        transform: translate(265px, -168px) rotate(74deg);
    }
    .highcharts-no-tooltip {
        display: none;
    }
}
