@use "../../master.scss";

.main-layout {
    display: flex;
    .content {
        width: 100%;
        .child-content {
            padding: 36px 35px 35px 35px;
            background: master.$dark-color;
            height: calc(100vh - 80px);

            .welcome {
                width: 100%;
                justify-content: space-between;
            }
            .child-layout {
                background: master.$theme3-color;
                width: 100%;
                border-radius: 30px;
                margin-top: 10px;
                padding: 30px 20px 20px 20px;
                height: calc(100% - 60px);
            }
        }
    }
}
