@use "../../master.scss";

.main-layout {
    display: flex;
    .content {
        width: 100%;
        .child-content {
            padding: 36px 35px 35px 35px;
            background: master.$dark-color;
            min-height: 100vh;

            .welcome {
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}
