.extra-detailes {
    z-index: 1;
    position: absolute;
    right: 0;
    justify-content: flex-end;
    width: 50%;
    padding-top: 4px;
    top: -40px;
    @media (max-width: 990px) {
        padding-top: 10px;
    }

    .active {
        transition: background 0.3s;
        background: rgba(118, 101, 193, 0.1);
        border-radius: 6px;
        padding: 0 5px 0 5px;
        svg > path {
            fill: #7665c1;
        }
    }
}

.chart-above-detailes {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    justify-content: space-between;

    .active {
        transition: background 0.3s;
        background: rgba(118, 101, 193, 0.1);
        border-radius: 6px;
        padding: 0 5px 0 5px;

        svg > path {
            fill: #7665c1;
        }
    }
}

.chart-view {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
}
