@use "../../master.scss";

.main-header {
  width: 100%;
  height: 80px;
  background: master.$theme3-color;
  display: flex;
  justify-content: flex-end;
  .mobile {
    display: none;
    align-items: center;
    gap: 15px;
    padding: 10px;

    svg {
      margin-bottom: 5px;
    }
    @media (max-width: 1000px) {
      display: flex;
    }
  }
  .profile {
    width: 192px;
    background: master.$dark-color;
    border-radius: 12px;
    align-items: flex-start;
    height: 50px;
    margin: 13px 21px 0 13px;
    padding: 5px 10px 5px 10px;

    svg {
      margin-top: 10px;
    }
  }

  @media (max-width: 1000px) {
    justify-content: space-between;
  }
}

.side-drawer {
  .ant-drawer-header {
    background-color: master.$dark-color;
    .ant-drawer-close {
      color: #fff;
    }
    .ant-drawer-title {
      text-align: left;
    }
  }
  .ant-drawer-body {
    background-color: master.$dark-color;
  }
}
