@use "../../../../master.scss";

.meter-content-parent {
    background: master.$dark-color;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    gap: 10px;
    height: 300px;
    margin-top: 10px;
    .left-content {
        width: 20%;
        min-width: 160px;
        height: 250px;
        overflow-y: scroll;
        .title-text {
            p {
                text-overflow: ellipsis;
                white-space: nowrap !important;
                overflow: hidden;
                max-width: 75px;
                min-width: 30px;
            }
        }
    }
    .right-content {
        width: 80%;
    }
}
