@use "../../master.scss";

.main-sideBar {
    background: master.$theme3-color;
    width: 210px;

    .logo {
        padding: 21px 0 0px 21px;
    }
    .content {
        padding: 90px 5px 0 5px;
        .content-list {
            transition: all 0.3s;
            cursor: pointer;
            display: flex;
            gap: 20px;
            padding: 20px;
            border-radius: 20px;
        }
        .active {
            background: #1d1f26;
        }
    }
    .logout {
        margin-top: 200px;
        padding: 21px;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}
