@use "../../master.scss";

.auth-box {
    background-image: url("../../assets/auth/backgound.png");
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .left-side {
        background: master.$dark-color;
        border-radius: 0px 41px 41px 0px;
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 60px 20px;
        align-items: center;
        min-height: 100vh;
        @media (max-width: 1000px) {
            width: 100%;
            border-radius: 0;
        }
        .content {
            background: master.$theme3-color;
            border-radius: 30px;
            padding: 20px 50px 20px 50px;
            width: 70%;

            position: relative;
            .back-arrow {
                position: absolute;
                left: 30px;
                top: 26px;
                cursor: pointer;
            }
            @media (max-width: 500px) {
                width: 100%;
                padding: 20px;
            }
        }
        .copy-right {
            position: absolute;
            bottom: 0;
            color: #ffffff;
            margin-bottom: 20px;
        }
    }

    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(0, -50%);
        @media (max-width: 1000px) {
            display: none;
        }
    }
    .forgot-image {
        max-height: 500px;
    }
    .email {
        left: 48% !important;
        .reset-image {
            max-height: 500px;
        }
        .email-image {
            max-height: 440px;
        }
    }
    .login {
        left: 45% !important;
        .login-image {
            max-height: 690px;
        }
    }
    .number {
        left: 52%;
    }
    .subscription-auth {
        left: 47%;
        .sub-image {
            max-height: 600px;
        }
    }
}
