@use "../../../master.scss";

.main-home {
	display: flex;
	gap: 20px;
	height: 100%;

	.left-side {
		background: master.$dark-color;
		width: 30%;
		padding: 10px;
		border-radius: 12px;

		.ant-tabs {
			height: calc(100% - 63px);

			.ant-tabs-content-holder {
				transition: overflow 3s ease;

				padding: 0 10px 10px 10px;
				// overflow: hidden;

				// &:hover {
				overflow: auto;
				// }
			}
			.ant-tabs-nav {
				.ant-tabs-nav-wrap {
					width: 100%;
					justify-content: center;
					.ant-tabs-nav-list {
						justify-content: space-between;
						width: 100%;
						overflow-x: scroll;
					}
				}
				.ant-tabs-tab {
					margin: 0;
					.ant-tabs-tab-btn {
						color: master.$white-color;
						padding: 4px 10px;
					}
				}
				.ant-tabs-tab-active {
					.ant-tabs-tab-btn {
						color: master.$theme-color;
					}
				}
				.ant-tabs-ink-bar {
					height: 60%;
					background: #7665c1;
					opacity: 0.1;
					border-radius: 10px;
					top: 11px;
				}
				&::before {
					border-bottom: none;
				}
				.ant-tabs-nav-operations {
					display: none;
				}
			}
		}
	}
	.home-filter {
		width: 70%;
		.select-parent {
			margin-bottom: 20px;
			display: flex;
			justify-content: end;
			.filter-select {
				.ant-select-selector {
					background-color: master.$dark-color !important;
					border: none !important;
					color: #ffffff !important;
				}
				.ant-select-arrow {
					color: #ffffff !important;
				}
			}
		}
		.right-home-side {
			height: calc(100% - 53px);
			background: master.$dark-color;
			border-radius: 12px;
			padding: 15px;
			// overflow: hidden;
			// transition: overflow-y 0.3s ease;

			// &:hover {
			overflow-y: auto;
		}
	}

	.right-side {
		background: master.$dark-color;
		border-radius: 12px;
		padding: 15px;
		width: 70%;

		// overflow: hidden;
		// transition: overflow-y 0.3s ease;

		// &:hover {
		overflow-y: auto;
		// }
	}
}

.mobile-view {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	height: 100%;

	.left-side {
		background: master.$dark-color;
		width: 100%;
		padding: 10px;
		border-radius: 12px;
		height: 400px;

		.ant-tabs {
			height: calc(100% - 63px);

			.ant-tabs-content-holder {
				transition: overflow 3s ease;

				padding: 0 10px 10px 10px;
				// overflow: hidden;

				// &:hover {
				overflow: auto;
				// }
			}
			.ant-tabs-nav {
				.ant-tabs-nav-wrap {
					width: 100%;
					justify-content: center;
					.ant-tabs-nav-list {
						justify-content: space-between;
						width: 100%;
						overflow-x: scroll;
					}
				}
				.ant-tabs-tab {
					margin: 0;
					.ant-tabs-tab-btn {
						color: master.$white-color;
						padding: 4px 10px;
					}
				}
				.ant-tabs-tab-active {
					.ant-tabs-tab-btn {
						color: master.$theme-color;
					}
				}
				.ant-tabs-ink-bar {
					height: 60%;
					background: #7665c1;
					opacity: 0.1;
					border-radius: 10px;
					top: 11px;
				}
				&::before {
					border-bottom: none;
				}
				.ant-tabs-nav-operations {
					display: none;
				}
			}
		}
	}

	.home-filter {
		width: 100%;
		.select-parent {
			margin-bottom: 20px;
			display: flex;
			justify-content: end;
			.filter-select {
				.ant-select-selector {
					background-color: master.$dark-color !important;
					border: none !important;
					color: #ffffff !important;
				}
				.ant-select-arrow {
					color: #ffffff !important;
				}
			}
		}
		.right-home-side {
			// height: calc(100% - 53px);
			background: master.$dark-color;
			border-radius: 12px;
			padding: 15px;
			// overflow: hidden;
			// transition: overflow-y 0.3s ease;

			// &:hover {
			overflow-y: auto;
		}
	}
	.right-side {
		background: master.$dark-color;
		width: 100%;
		border-radius: 12px;
		padding: 15px;
		// overflow: hidden;
		// transition: overflow-y 0.3s ease;

		// &:hover {
		overflow-y: auto;
		// }
	}
}

.ant-select-dropdown {
	background: master.$theme3-color;
	.rc-virtual-list-holder-inner {
		gap: 5px;
	}
	.ant-select-item {
		color: #ffffff !important;
	}
	.ant-select-item-option-active {
		background-color: master.$theme2-color !important;
	}
	.ant-select-item-option-selected {
		background-color: master.$theme2-color !important;
	}
}
