@use "../../../../master.scss";

.payment-list {
    padding: 20px;
    background-color: master.$dark-color;
    border-radius: 20px;
    .tabel-list-main {
        background-color: master.$theme3-color;
        padding: 12px 20px;
        border-radius: 25px;
    }
}
