/* Default button styles */
button.ant-btn {
    font-size: 12px;
    height: 40px;
    width: 100%;
    min-width: 100px;
}

.ant-btn-loading-icon {
    position: absolute;
    left: 32%;
    top: 35%;
}

.icon-but {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {
    button.ant-btn {
        font-size: 10px;
        height: 35px;
    }
}

/* Media query for medium screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    button.ant-btn {
        font-size: 12px;
        height: 40px;
    }
}

/* Media query for large screens */
@media only screen and (min-width: 992px) {
    button.ant-btn {
        font-size: 14px;
        height: 45px;
    }
}
