.meter {
    border-radius: 10px;

    .highcharts-container {
        height: 136px !important;
        // background: #20232c;
    }
    .highcharts-background {
        fill: transparent;
    }

    .greenBand {
        stroke-width: 1px;
        stroke: red;
    }

    .highcharts-no-tooltip {
        display: none;
    }
}
