.meter {
    .highcharts-container {
        width: 200px !important;
        height: 136px !important;
        background: #20232c;
        border-radius: 10px;
    }
    .highcharts-background {
        fill: transparent;
    }

    .highcharts-no-tooltip {
        display: none;
    }
}
