@use "../../../../master.scss";

.StripeElement {
    background: #363941;
    height: 40px;
    border-radius: 6px;
    padding: 12px;
    // .__PrivateStripeElement {
    //     .__PrivateStripeElement-input {
    //         // color: #ffffff;
    //         // font-size: 12px !important;
    //     }
    // }
}

.subscription {
    width: 100%;
    .csv-feild {
        width: 100%;
        margin-top: 15px;
    }
    .card-but {
        margin-top: 15px;
    }
}

.add-card {
    width: 100%;
    .expiry-section {
        display: flex;
        gap: 10px;
        .csv-feild {
            width: 100%;
        }
    }
    .card-but {
        text-align: center;
        margin-top: 20px;
        button {
            width: 200px;
        }
    }
}
