@use "../../../master.scss";

.subscription-main-page {
    padding: 30px;
    .sub-heading {
        background: master.$dark-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px 20px;
    }
    .free {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 20px;
        padding: 30px;

        @media (max-width: 575px) {
            padding: 30px 20px;
        }
    }
}
